body {
    background-color: blueviolet;
}

#vid-container {
    background-size: cover;
    background-image: url('src/images/home.png');
    /*background-position: center;*/
    /*
    object-fit: cover;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0%;
    z-index: -442;
}

#myVideo {
    overflow: hidden;
}

#vid-container image {
    z-index: -445;
}

img,
video {
    width: auto;
    /* or any custom size */
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


/*video,
img,
image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
}*/