body {
    background-color: blueviolet;
}

#vid-container {
    /*background-size: cover;*/
    background-image: url('src/images/home.png');
    /*background-position: center;*/
    /*
    object-fit: cover;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
*/
    background-size: cover;
    background-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0%;
    z-index: -442;
}

video {
    /*
     width: 100%;
    height: 100%;
    object-position: center center;
    */
    /**/
    object-fit: cover;
}

#vid-container img,
#vid-container image {
    position: relative;
}


/* 
img,
image {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    left: -100%;
}

*/


/*video,
img,
image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
}*/